{% extends "base.html" %}

{% block header %}
    <h2>{% block title %}Schedule Sessions{% endblock title %}</h2>
{% endblock header %}

{% block content %}
    <form method="POST">
  {{ form.hidden_tag() }}
  {{ form.date.label }} {{ form.date() }}<br>
  {{ form.patient.label }} {{ form.patient() }}<br>

  <h3>Cardio</h3>
  {{ form.cardio.machine_name.label }} {{ form.cardio.machine_name() }}<br>
  {{ form.cardio.form.level.label }} {{ form.cardio.form.level() }}<br>
  {{ form.cardio.form.elevation.label }} {{ form.cardio.form.elevation() }}<br>
  {{ form.cardio.form.time_min.label }} {{ form.cardio.form.time_min() }}<br>
  
  <h3>Mobility Exercise</h3>
  {{ form.mobility.exercise_name.label }} {{ form.mobility.exercise_name() }}<br>
  {{ form.mobility.target_reps.label }} {{ form.mobility.target_reps() }}<br>
  {{ form.mobility.weight_lbs.label }} {{ form.mobility.weight_lbs() }}<br>

  <h3>Squat/Lunge Exercise</h3>
  {{ form.squat_lunge.exercise_name.label }} {{ form.squat_lunge.exercise_name() }}<br>
  {{ form.squat_lunge.target_reps.label }} {{ form.squat_lunge.target_reps() }}<br>
  {{ form.squat_lunge.form.weight_lbs.label }} {{ form.squat_lunge.form.weight_lbs() }}<br>

  <h3>Push Exercise</h3>
  {{ form.push.exercise_name.label }} {{ form.push.exercise_name() }}<br>
  {{ form.push.target_reps.label }} {{ form.push.target_reps() }}<br>
  {{ form.push.weight_lbs.label }} {{ form.push.weight_lbs() }}<br>

  <h3>Pull Exercise</h3>
  {{ form.pull.exercise_name.label }} {{ form.pull.exercise_name() }}<br>
  {{ form.pull.target_reps.label }} {{ form.pull.target_reps() }}<br>
  {{ form.pull.weight_lbs.label }} {{ form.pull.weight_lbs() }}<br>

  <h3>Hinge Exercise</h3>
  {{ form.hinge.exercise_name.label }} {{ form.hinge.exercise_name() }}<br>
  {{ form.hinge.target_reps.label }} {{ form.hinge.target_reps() }}<br>
  {{ form.hinge.weight_lbs.label }} {{ form.hinge.weight_lbs() }}<br>

  <h3>Carry Exercise</h3>
  {{ form.carry.exercise_name.label }} {{ form.carry.exercise_name() }}<br>
  {{ form.carry.target_reps.label }} {{ form.carry.target_reps() }}<br>
  {{ form.carry.weight_lbs.label }} {{ form.carry.weight_lbs() }}<br>

  <h3>Core Exercise</h3>
  {{ form.core.exercise_name.label }} {{ form.core.exercise_name() }}<br>
  {{ form.core.target_reps.label }} {{ form.core.target_reps() }}<br>
  {{ form.core.weight_lbs.label }} {{ form.core.weight_lbs() }}<br>

  <h3>Stretches</h3>
  {{ form.stretch.exercise_name.label }} {{ form.stretch.exercise_name() }}<br>
  {{ form.stretch.time_sec.label }} {{ form.stretch.time_sec() }}<br>
  <input type="submit" value="Create Session">
</form>
{% endblock content %}