{% extends "base.html" %}

{% block title %}Session List{% endblock title %}

{% block header %}
    <h2>All Patient Sessions</h2>
{% endblock header %}

{% block content %}
    <a href="{{ url_for('pages.session_scheduling')}}">Schedule a Session</a>
    {% if sessions %}
    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Date</th>
                <th>Patient Name</th>
                <th>Heart Rate (Avg / Max)</th>
                <th>Cardio (Machine / Time / Level / Elevation)</th>
                <th>Mobility</th>
                <th>Squat/Lunge</th>
                <th>Push</th>
                <th>Pull</th>
                <th>Hinge</th>
                <th>Carry</th>
                <th>Core</th>
                <th>Stretch</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>
                    <a href="{{ url_for('pages.edit_session', session_id=session.session_id) }}" class="btn btn-primary btn-sm">Edit</a>
                    <form method="POST" action="{{ url_for('pages.delete_session', session_id=session.session_id) }}">
                        {{ delete_forms[session.session_id].hidden_tag() }}
                        {{ delete_forms[session.session_id].submit(class_="btn btn-danger btn-sm") }}
                    </form>
                </td>
                <td>{{ session.date }}</td>
                <td>{{ session.patient.first_name }} {{ session.patient.last_name }} (ID: {{ session.patient.patient_id }})</td>
                <td>
                    {% if session.heart_rate %}
                        {{ session.heart_rate.avg }} / {{ session.heart_rate.max }}
                    {% endif %}
                </td>
                <td>
                    {% if session.cardio and session.cardio.exercise_name %}
                        {{ session.cardio.machine_name }} /
                        {{ session.cardio.time_min }} min /
                        L {{ session.cardio.level }} /
                        E {{ session.cardio.elevation }}
                    {% endif %}
                </td>
                <td>
                    {% if session.mobility and (session.mobility.exercise_name or session.mobility.target_reps or session.mobility.weight_lbs)%}
                        {{ session.mobility.exercise_name }}:
                        {{ session.mobility.reps }}/{{ session.mobility.target_reps }} @ {{ session.mobility.weight_lbs }} lbs
                    {% endif %}
                </td>
                <td>
                    {% if session.squat_lunge and (session.squat_lunge.exercise_name or session.squat_lunge.target_reps or session.squat_lunge.weight_lbs)%}
                        {{ session.squat_lunge.exercise_name }}:
                        {{ session.squat_lunge.reps }}/{{ session.squat_lunge.target_reps }} @ {{ session.squat_lunge.weight_lbs }} lbs
                    {% endif %}
                </td>
                <td>
                    {% if session.push and (session.push.exercise_name or session.core.target_reps or session.core.weight_lbs)%}
                        {{ session.push.exercise_name }}:
                        {{ session.push.reps }}/{{ session.push.target_reps }} @ {{ session.push.weight_lbs }} lbs
                    {% endif %}
                </td>
                <td>
                    {% if session.pull and (session.pull.exercise_name or session.pull.target_reps or session.pull.weight_lbs) %}
                        {{ session.pull.exercise_name }}:
                        {{ session.pull.reps }}/{{ session.pull.target_reps }} @ {{ session.pull.weight_lbs }} lbs
                    {% endif %}
                </td>
                <td>
                    {% if session.hinge and (session.hinge.exercise_name or session.hinge.target_reps or session.hinge.weight_lbs)%}
                        {{ session.hinge.exercise_name }}:
                        {{ session.hinge.reps }}/{{ session.hinge.target_reps }} @ {{ session.hinge.weight_lbs }} lbs
                    {% endif %}
                </td>
                <td>
                    {% if session.carry and (session.carry.exercise_name or session.carry.target_reps or session.carry.weight_lbs)%}
                        {{ session.carry.exercise_name }}:
                        {{ session.carry.reps }}/{{ session.carry.target_reps }} @ {{ session.carry.weight_lbs }} lbs
                    {% endif %}
                </td>
                <td>
                    {% if session.core and (session.core.exercise_name or session.core.target_reps or session.core.weight_lbs) %}
                        {{ session.core.exercise_name }}:
                        {{ session.core.reps }}/{{ session.core.target_reps }} @ {{ session.core.weight_lbs }} lbs
                    {% endif %}
                </td>
                <td>
                    {% if session.stretch and session.stretch.exercise_name and session.stretch.time_sec %}
                        {{ session.stretch.exercise_name }}:
                        {{ session.stretch.time_sec }}s
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No sessions found.</p>
    {% endif %}
{% endblock content %}